<%- include('partials/admin_head') %> <%- include('partials/admin_header') %>
<main role="main">
  <%- include('partials/admin_nav') %>
  <div>
    <p>Velkommen til admin panelet.</p>
    <p>
      Til venstre vil du finde en række knapper som vil tage dig til en tabel
      med information baseret på hvad der står på knappen.
    </p>
  </div>
</main>

<%- include('partials/admin_footer') %>
