<nav>
  <ul>
    <li><a href="/projects/exam/">Tilbage til Boligstjernen</a></li>
    <li><a href="/projects/exam/admin">Dashboard</a></li>
    <li><a href="/projects/exam/admin/houses">Boliger</a></li>
    <li><a href="/projects/exam/admin/house_types">Bolig typer</a></li>
    <li><a href="/projects/exam/admin/news">Nyheder</a></li>
    <li><a href="/projects/exam/admin/open_times">Åbningstider</a></li>
    <li><a href="/projects/exam/admin/contact">Firma information</a></li>
    <li><a href="/projects/exam/admin/comments">Kommentarer</a></li>
    <li><a href="/projects/exam/admin/users">Bruger</a></li>
    <li><a href="/projects/exam/admin/roles">Roller</a></li>
  </ul>
</nav>
