<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      <%= typeof page_name !== 'undefined' ? `${page_name} | ${siteName}` :
      siteName %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css" />
  </head>

  <body>
    <div class="portfolio">
      <ul>
        <li>
          <a href="http://localhost:3000/">Tilbage til projekter</a>
        </li>
      </ul>
    </div>
    <header>
      <h1>Boligstjernen</h1>
      <%- include('nav') %>
    </header>
