<nav>
  <ul>
    <li><a href="/projects/exam/" id="frontpage">Forsiden</a></li>
    <li><a href="/projects/exam/s%C3%B8g" id="homes">Find bolig</a></li>
    <li><a href="/projects/exam/nyheder" id="news">Nyheder</a></li>
    <li><a href="/projects/exam/kontakt" id="contact">Kontakt</a></li>
  </ul>
</nav>
